*{margin:0; padding:0;}

h2{ padding: 6pt 2pt 2pt; }
p { padding: 2pt 4pt; }

#header{
	display: block;
	background-color: #000;
	color: #ddd;
	padding: 12px 16px 6px;
}
#header a{
	color: #ddd;
	text-decoration: none;
}
#footer{
	border-top: 1px solid;
	margin: 20px 25px 10px;
	padding: 5px 10px;
	text-align: right;
}
#main{
	display: block;
	box-sizing: border-box;
	position: relative;
	margin: 40px 30px 60px;
	padding: 12px 10px;
}

.col{
	display: inline-block;
	box-sizing: border-box;
	position: relative;
	margin: 0;
	padding: 0;
	vertical-align: top;
	width: 100%;
}
@media all and (min-width:580px) {
	.col-md-1  { width:   8.333333%; }
	.col-md-2  { width:  16.666666%; }
	.col-md-3  { width:  25.000000%; }
	.col-md-4  { width:  33.333333%; }
	.col-md-5  { width:  41.666666%; }
	.col-md-6  { width:  50.000000%; }
	.col-md-7  { width:  58.333333%; }
	.col-md-8  { width:  66.666666%; }
	.col-md-9  { width:  75.000000%; }
	.col-md-10 { width:  83.333333%; }
	.col-md-11 { width:  91.666666%; }
	.col-md-12 { width: 100.000000%; }
}
@media all and (min-width:920px) {
	.col-lg-1  { width:   8.333333%; }
	.col-lg-2  { width:  16.666666%; }
	.col-lg-3  { width:  25.000000%; }
	.col-lg-4  { width:  33.333333%; }
	.col-lg-5  { width:  41.666666%; }
	.col-lg-6  { width:  50.000000%; }
	.col-lg-7  { width:  58.333333%; }
	.col-lg-8  { width:  66.666666%; }
	.col-lg-9  { width:  75.000000%; }
	.col-lg-10 { width:  83.333333%; }
	.col-lg-11 { width:  91.666666%; }
	.col-lg-12 { width: 100.000000%; }
}

.w-i-p{
	border: 1px solid #af0000;
	margin: 40px 25%;
	padding: 15px 25px;
	background-color: #dd2222;
	color: #fafafa;
	text-align: center;
	font-size: 24pt;
	font-weight: 600;
}

#my-github-projects{
	min-height: 400px;
}
#my-github-projects>ul{
	list-style: none;
}
.project-info{
	display: block;
	position: relative;
	box-sizing: border-box;
	padding-right: 6px;
}
.project-info>h3{
	background-color: #06f;
	padding: 8pt 4pt 2pt;
	font-size: 16pt;
}
.project-info>h3>a{
	color: #dedede;
	text-decoration: none;
}
.project-info>p{
	padding: 8pt 6pt 20pt;
	font-size: 12pt;
}
.project-info>p.not-found{
	color: #d44;
}
